li{
    padding-inline-start: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    display: inline-block;
}

.linklist{
    margin-left: 250px;
    text-align: center;
}

.head{
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    padding-inline-start: 10px;
    font-size: 60px;
    color: rgb(9, 26, 104);
    position: relative;
    font-weight: bold;
    font-family: Decorative;
    filter: brightness(130%);
    text-transform: uppercase;
}

.head::before{
    content: 'Find GIFs';
    color: rgb(155, 133, 8);
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(1.5px);
  }

.banner{
    background-image: linear-gradient(110deg, #f36932bb 37%, #3b27ebbd 95%);
}

